@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0; margin: 0;
    list-style: none; font-family: Roboto, sans-serif, Arial, Helvetica;
}

html {
    font-size: 14px;
}

header {
    background-image: url("./images/blue_background_crop.png");
    background-position: top center;
    background-size: 450% 75vh;
    background-repeat: no-repeat;
    overflow: hidden;
}

section {
    
    margin: 2rem 0;
}

.content {
    padding: 3rem 0;
}

.nav-link {
    color: #FFFFFF !important;
}.nav-link:hover {
    color: #FFBB00 !important;
    border-bottom: 2px solid #FFBB00;
}

.banner-h1, .banner-desc {
    color: #FFFFFF;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.banner {
    margin: auto;
}

.banner-h1 {
    font-size: 3.5rem;
    font-weight: bold;
}
.banner-desc {
    font-size: 1rem;
}

.banner-btns button:hover {
    background-color: #FFBB00
}

.img-container-banner, .get-app-img-container {
    display: none;
}

.carousel, .navbar {
    padding-top: 2rem;
}

.logo-carousel {
    display: none;
}
.caro-img {
    max-width: 150px;
    height: auto;
    margin: 0 auto;
    opacity: .6;
}

.aboutus-phone-bg {
    max-width: 100%;
    position: absolute;
}

.phone-img {
    max-width: 100%;
    position: relative;
    z-index: 1;
}

.img-container-aboutus, .phone-img, .aboutus-phone-bg {
    display: none;
    flex: 0;
}

.section-label {
    display: flex; align-items: center; justify-content: center;
    background-color: rgba(255, 187, 0, .15); color: #FFBB00;
    width: 5.438rem; height: 1.875rem; font-size: 1rem; 
    border-radius: 7px;
}

.txt-content h2{
    font-size: 2.857; font-weight: 1000;
    color: #333333;
    margin: .6em 0 .8em;
}
.txt-content p{
    font-size: 1.143rem; font-weight: regular;
    color: #8A8A8A;
    line-height: 1.875em;
    margin-bottom: 2rem;
}

/*  */

#features {

    background-color: rgba(245, 245, 245, .31);
}

.img-container-features {
    display: none;
}

.feature {

    display: flex;
    align-items: flex-start; justify-content: center;
}

.feature-title {
    font-size: 1.429rem;
}

.feature-icon {
    max-width: 45px; height: auto;
    margin-right: 1rem;
}

/*  */

.statistics-content {
    background-image: url("./images/Layer815.png");
    background-position: top center;
    background-size: contain; background-repeat: no-repeat;
}

.stat {
    flex-basis: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.stat-info {
    font-size: 2.6rem;
    font-weight: bold;
    color: #3096FE;
}

.stat-title {
    font-size: 1.2rem;
    font-weight: medium;
}

/*  */

.get-app {
    background-color: #3096FE;
}

.get-app-content {
    background-image: url("./images/fff.png");
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.get-app h2{
    font-size: 2.5rem;
    color: #FFFFFF !important;
}
.get-app p{
    font-size: 1.143rem;
    color: #FFFFFF !important;
}

.dl-btn img{
    max-width: 200px !important;
    margin-bottom: 1rem;
}

.app-img-container {
    display: none;
    width: 40%;
    position: absolute;
    bottom: -25%;
    right: 0;
}

.get-app-mobile {
    max-width: 100%;
}

.form-input {
    display: grid;
    grid-template: 50px 50px 100px / 1fr;
    gap: 1.2rem 1.5rem;
}

.form-input * {
    padding: 10px;
    background-color: #FBFBFB;
    border: none; border-radius: 12px;
    outline: none;
}

.contact-btn {
    margin-top: 1.5rem;
    padding: .9em 5em;
    color: #FFFFFF; background-color: #3096FE;
    border: none; border-radius: 12px; outline: none;
}

/*  */

footer {
    position: relative;
    
    background-color: #3096FE;
    background-image: url(./images/footerbg.png);
    background-size: cover; background-position: center;
    background-repeat: no-repeat;
}

.footer-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFFFFF;
    margin: 1em 0;
}
.footer-links * {
    margin: 0 .5rem;
    color: #FFFFFF; font-weight: 500;
} .social-media *{
    margin: 0 .2em;
}

/* only for mobile */
@media (max-width: 576px) {
    header {height: 80vh;}

}


/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    html {font-size: 16px;}
    header {
        height: 50vh;
        background-size: 220%;
    }
    .form-input {
        grid-template: 70px 233px / 1fr 1fr;
        gap: 1.2rem 1.5rem;
    }
    #message-input {
        grid-column: 1/3;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .img-container-banner {display: inline-block;}
    header {
        background-size: 140%;
        height: 80vh;
    }
    .feature {
        flex-basis: 300px;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    header {
        background-size: 120%;
        height: 80vh ;
    }
    .nav-link {
        margin-left: 1rem;
    }
    .dl-btn img {
        transition: transform .3s ease;
    }
    .dl-btn img:hover {
        transform: scale(1.1);
    }
    .contact-btn {
        transition: all .3s ease-in-out;
    }
    .contact-btn:hover, .foot-link img:hover {
        background-color: #FFBB00 !important;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    header {height: 100vh;}
    .phone-img, .aboutus-phone-bg {display: inline-block;}
    .img-container-aboutus {
        display: flex;
        flex: 1;
        margin-right: 5rem;
    }
    .info-container-aboutus {flex: 1;}
    .logo-carousel {
        display: block;
        margin-top: 25vh;
    }
    .info-container-features {
        max-width: 55%;
    }
    .get-app-txtcont {
        max-width: 60%;
    }
    .img-container-features, .app-img-container {
        display: inline-block;
    }
    .features-phone-bg {
        max-width: 100%;
    }
    .center img {
        max-width: 240px;
        margin-top: 0px;
    }
    
    .screen {
        max-width: 200px;
        margin-top: 40px;
    }

    

}

@media (min-width: 1300px) {
    header {
        background-size: 100% 80%;
        height: 100vh;
    }
    
}